<div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Industry</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="javascript:void(0)" class="list-group-item" ng-class="{active:selectedIndustry == ind.id,inactive:selectedIndustry != ind.id}" ng-repeat="ind in industry" ng-click="setIndustry(ind)">{{ind.name}}</a>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Models</h3>
        </div>
        <div class="panel-body">
            <div class="list-group" ng-if="(models | filter:{industryid:selectedIndustry}).length > 0">
                <a href="javascript:void(0)" class="list-group-item" ng-class="{active:selectedModel == mod.id}" ng-repeat="mod in models| filter:{industryid:selectedIndustry}" ng-click="setModel(mod)">{{mod.name}}</a>
            </div>
            <div class="list-group" ng-if="(models | filter:{industryid:selectedIndustry}).length == 0">
                <a href="javascript:void(0)" class="list-group-item" >please First Select the Industry</a>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="col-md-4">
        <h4>External Mirror</h4>
        <p>Moditable Length & height:</p>            
        <img src="images/external-mirror.jpg" class="img-circle" alt="External Mirror" width="100" height="100"> 
    </div>
    <div class="col-md-4">
        <h4>Gershift</h4>
        <p>Gershift Length & height:</p>            
        <img src="images/gear.jpg" class="img-circle" alt="Gershift" width="100" height="100">
    </div>
    <div class="col-md-4">
        <h4>Motercycle Fairing</h4>
        <p>Fixed High Customization</p>            
        <img src="images/moterfairing.jpg" class="img-circle" alt="Motercycle Fairing" width="100" height="100">
    </div>
    <div style="clear: both"></div>
    <div class="col-md-4">
        <h4>Rim</h4>
        <p>Modifiable Radius & width</p>            
        <img src="images/rim.jpg" class="img-circle" alt="Rim" width="100" height="100"> 
    </div>
    <div class="col-md-4">
        <h4>Frontal Panel</h4>
        <p>Customized With Patterns:</p>            
        <img src="images/frontalpanel.png" class="img-circle" alt="Frontal Panel" width="100" height="100">
    </div>
    <div class="col-md-4">
        <h4>Engine Collector</h4>
        <p>Fixed Only if I allow</p>            
        <img src="images/engine.jpg" class="img-circle" alt="engine" width="100" height="100">
    </div>
</div>

